# Práctica 2: Lectura y manipulación de datos con pandas

En esta práctica, se cargan los datos en marcos de datos (inglés: data frame) con la librería pandas:

[Pandas](https://pandas.pydata.org/)

para poder iniciar su procesamiento.

Como se mencionó en la [práctica 1](https://nbviewer.jupyter.org/github/alan-arnoldo-alcantar/DataScience_UANL/blob/master/p1/practica1.ipynb) el archivo`.csv` que contiene los datos crudos está organizado por columnas, donde cada columna corresponde con un factor del diseño de experimentos. El problema esta en que cada solucionario no utiliza todos los factores, por ello al entrenar con un solucionario en especifico puede que en algunas columnas (factores) aparezca NA, haciendo referencia que este factor no se utiliza. Por otra parte, la obtención de los datos se hizo en dos partes, por lo cual se tienen dos archivos`.scv` uno complementario del otro, que juntos tienen todos los resultados del diseño de experimentos.

En base a lo anterior las metas de esta práctica consisten en:
1. Cargar ambos archivos`.scv` utilizando la librería Pandas y unirlos en un solo marco de datos.
2. Generar un marco de datos para cada uno de los solucionarios que solo contengan los factores que utiliza el solucionario.
3. Una vez que se tengan los cuadros de datos por solucionario se deben reagrupar por factores, esto para que los resultados de los experimentos (precisión de la fase de entrenamiento, tiempo de entrenamiento y precisión en la fase de prueba) que tengas los mismos factores se agrupen en un solo renglón.
4. Guardar en un archivo`.scv` cada uno de los cuadros de datos que corresponden con un solucionario.

## Carga de los datos

In [376]:
import pandas as pd
pd.set_option('max_rows', 3)
datos1=pd.read_csv('../mlp_datos.csv')
datos2=pd.read_csv('../mlp_datos2.csv')
#ver que solucionarios aparecen en cada archivo
print(datos1.solver.unique())
print(datos2.solver.unique())
print(datos1)
print(datos2)

['sgd' 'adam' 'lbfgs']
['adam' 'lbfgs']
       label  partition solver  layer_num  neurona_num activation   alpha  \
0          1         10    sgd          1           30   logistic  0.0001
...      ...        ...    ...        ...          ...        ...     ...
23701  23702         20  lbfgs          7          210   logistic  1.0000

       learning_rate_init learning_rate  power_t  train_accuracy  \
0                    0.01      constant      NaN        0.891333
...                   ...           ...      ...             ...
23701                 NaN           NaN      NaN        0.100000

       trainig_time  test_accuracy
0          2.679907         0.8812
...             ...            ...
23701      4.827969         0.0982

[23702 rows x 13 columns]
        label  partition solver  layer_num  neurona_num activation  \
0       25153         20   adam          1           30   logistic
...       ...        ...    ...        ...          ...        ...
29567  164160         90  lbfgs         10          210       tanh

            alpha  learning_rate_init  learning_rate  power_t  train_accuracy  \
0          0.0001                0.01            NaN      NaN        0.819333
...           ...                 ...            ...      ...             ...
29567  10000.0000                 NaN            NaN      NaN        0.100000

       trainig_time  test_accuracy
0          2.904972         0.8218
...             ...            ...
29567     82.802846         0.0980

[29568 rows x 13 columns]

## Union de cuadros de datos

Como se observa ambos cuadros de datos contienen las mismas columnas, de modo que para unir ambos cuadros de datos se utiliza la función `pd.concat()`, la cual une dos cuadros de datos que contengan las mismas columnas:

In [267]:
datos=pd.concat([datos1,datos2])
print(datos)

        label  partition solver  layer_num  neurona_num activation  \
0           1         10    sgd          1           30   logistic
...       ...        ...    ...        ...          ...        ...
29567  164160         90  lbfgs         10          210       tanh

            alpha  learning_rate_init learning_rate  power_t  train_accuracy  \
0          0.0001                0.01      constant      NaN        0.891333
...           ...                 ...           ...      ...             ...
29567  10000.0000                 NaN           NaN      NaN        0.100000

       trainig_time  test_accuracy
0          2.679907         0.8812
...             ...            ...
29567     82.802846         0.0980

[53270 rows x 13 columns]

In [17]:
#numero de renglones de datos1 + numero de renglones de datos2
23702+29568

53270

Vemos que efectivamente el número de renglones del cuadro de datos `datos` es igual a la suma de los renglones de los cuadros de datos `datos1` y `datos2`.

Ademas el titulo de la columna `trainig_time` debe ser `training_time`

In [268]:
datos=datos.rename(columns = {'trainig_time':'training_time'})
datos

,label,partition,solver,layer_num,neurona_num,activation,alpha,learning_rate_init,learning_rate,power_t,train_accuracy,training_time,test_accuracy
0,1,10,sgd,1,30,logistic,0.0001,0.01,constant,NaN,0.891333,2.679907,0.8812
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29567,164160,90,lbfgs,10,210,tanh,10000.0000,NaN,NaN,NaN,0.100000,82.802846,0.0980

## Dividiendo cuadro de datos
Lo que sigue es ver cuales son los solucionarios que se utilizaron y cuales factores usa cada uno.

In [269]:
datos.solver.unique()

array(['sgd', 'adam', 'lbfgs'], dtype=object)

In [270]:
datos.loc[datos.solver=='sgd']

,label,partition,solver,layer_num,neurona_num,activation,alpha,learning_rate_init,learning_rate,power_t,train_accuracy,training_time,test_accuracy
0,1,10,sgd,1,30,logistic,0.0001,0.01,constant,NaN,0.891333,2.679907,0.8812
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23327,23328,20,sgd,10,210,tanh,10000.0000,1.00,adaptive,NaN,0.100000,1503.814874,0.0980

In [271]:
datos.loc[datos.solver=='adam']

,label,partition,solver,layer_num,neurona_num,activation,alpha,learning_rate_init,learning_rate,power_t,train_accuracy,training_time,test_accuracy
1440,1441,10,adam,1,30,logistic,0.0001,0.01,NaN,NaN,0.767667,1.264617,0.7727
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29471,164064,90,adam,10,210,tanh,10000.0000,1.00,NaN,NaN,0.100000,82.034327,0.0982

In [272]:
datos.loc[datos.solver=='lbfgs']

,label,partition,solver,layer_num,neurona_num,activation,alpha,learning_rate_init,learning_rate,power_t,train_accuracy,training_time,test_accuracy
1728,1729,10,lbfgs,1,30,logistic,0.0001,NaN,NaN,NaN,0.927833,23.156492,0.8789
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29567,164160,90,lbfgs,10,210,tanh,10000.0000,NaN,NaN,NaN,0.100000,82.802846,0.0980

Aparentemente ninguno de los solucionarios utiliza el factor `power_t`, por lo que se analiza si existe algún renglón que tenga una entrada diferente a `NaN` en la columna `power_t`:

In [273]:
datos[~datos['power_t'].isin(['NaN'])]

,label,partition,solver,layer_num,neurona_num,activation,alpha,learning_rate_init,learning_rate,power_t,train_accuracy,training_time,test_accuracy
1,2,10,sgd,1,30,logistic,0.0001,0.01,invscaling,0.1,0.96200,8.691950,0.903
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23326,23327,20,sgd,10,210,tanh,10000.0000,1.00,invscaling,0.9,0.09725,1514.172772,0.104

Vemos que se debe tener mucho cuidado con el solucionario `sgd` porque aparentemente no utiliza el factor `power_t`, sin embargo como se ve, este factor se utiliza únicamente cuando el factor `learning_rate` tiene asignado el nivel `invscaling`.

A continuación, se pasa a crear los cuadros de datos por solucionario y de esta manera evitar columnas con entradas `NaN`

In [274]:
datos_adam=datos.loc[datos.solver=='adam',['partition','layer_num','neurona_num','activation','alpha',\
                                            'learning_rate_init','train_accuracy','training_time','test_accuracy']]
datos_adam

,partition,layer_num,neurona_num,activation,alpha,learning_rate_init,train_accuracy,training_time,test_accuracy
1440,10,1,30,logistic,0.0001,0.01,0.767667,1.264617,0.7727
...,...,...,...,...,...,...,...,...,...
29471,90,10,210,tanh,10000.0000,1.00,0.100000,82.034327,0.0982

In [377]:
datos_lbfgs=datos.loc[datos.solver=='lbfgs',['partition','layer_num','neurona_num','activation','alpha',\
                                            'train_accuracy','training_time','test_accuracy']]
datos_lbfgs

,partition,layer_num,neurona_num,activation,alpha,train_accuracy,training_time,test_accuracy
1728,10,1,30,logistic,0.0001,0.927833,23.156492,0.8789
...,...,...,...,...,...,...,...,...
29567,90,10,210,tanh,10000.0000,0.100000,82.802846,0.0980

In [276]:
datos_sgd_c=datos.loc[datos.learning_rate=='constant',['partition','layer_num','neurona_num','activation','alpha',\
                                                       'learning_rate_init','learning_rate','train_accuracy',\
                                                       'training_time','test_accuracy']]
datos_sgd_a=datos.loc[datos.learning_rate=='adaptive',['partition','layer_num','neurona_num','activation','alpha',\
                                                       'learning_rate_init','learning_rate','train_accuracy',\
                                                       'training_time','test_accuracy']]
datos_sgd_i=datos.loc[datos.learning_rate=='invscaling',['partition','layer_num','neurona_num','activation','alpha',\
                                                       'learning_rate_init','learning_rate','power_t','train_accuracy',\
                                                       'training_time','test_accuracy']]
datos_sgd_ca=pd.concat([datos_sgd_c,datos_sgd_a])
datos_sgd_i

,partition,layer_num,neurona_num,activation,alpha,learning_rate_init,learning_rate,power_t,train_accuracy,training_time,test_accuracy
1,10,1,30,logistic,0.0001,0.01,invscaling,0.1,0.96200,8.691950,0.903
...,...,...,...,...,...,...,...,...,...,...,...
23326,20,10,210,tanh,10000.0000,1.00,invscaling,0.9,0.09725,1514.172772,0.104

## Agrupando las variables de rendimiento

Durante el diseño de experimento se realizaron 10 repeticiones de cada combinación de factores para futuras pruebas de hipótesis, por lo que es necesario agrupar estos 10 resultados de rendimiento en un solo renglón que contenga la combinación de factores. Para ello se utiliza la función `groupby`.

In [396]:
pd.set_option('max_rows', 20)
datos_lbfgs_t=datos_lbfgs.groupby(['partition','layer_num','neurona_num','activation','alpha']).training_time.unique()
datos_lbfgs_t

partition  layer_num  neurona_num  activation  alpha
10         1          30           logistic    0.0001        [23.15649223327637, 24.438762664794922, 20.000...
                                               1.0000        [21.88026475906372, 26.487568378448486, 20.667...
                                               10000.0000    [6.253906726837157, 8.277261734008789, 6.27513...
                                   tanh        0.0001        [22.267031908035282, 22.62187886238098, 17.399...
                                               1.0000        [22.207077026367188, 22.73449540138245, 17.455...
                                               10000.0000    [22.86952304840088, 23.37695956230164, 22.5856...
                      90           logistic    0.0001        [29.925067901611328, 32.30967140197754, 37.753...
                                               1.0000        [26.5259268283844, 30.80880570411682, 21.22847...
                                               10000.0000    [42.44521927833557, 16.72055459022522, 16.8898...
                                   tanh        0.0001        [45.3847599029541, 34.61158514022827, 45.01342...
                                                                                   ...
90         10         150          logistic    10000.0000    [85.87025117874146, 76.72930955886841, 107.071...
                                   tanh        0.0001        [647.2018735408782, 682.4211142063141, 665.687...
                                               1.0000        [734.6694219112396, 658.8654758930206, 542.421...
                                               10000.0000    [40.34194445610047, 29.110209465026852, 31.055...
                      210          logistic    0.0001        [30.91325426101685, 25.591519832611084, 25.537...
                                               1.0000        [25.592979192733765, 25.5862729549408, 25.6093...
                                               10000.0000    [117.59011888504028, 212.06803393363955, 107.1...
                                   tanh        0.0001        [651.8294990062714, 721.0864088535309, 605.592...
                                               1.0000        [661.0476253032683, 602.6592633724213, 581.312...
                                               10000.0000    [70.90114426612855, 57.5786988735199, 67.21055...
Name: training_time, Length: 864, dtype: object

In [379]:
datos_lbfgs_t=datos_lbfgs_t.reset_index()
datos_lbfgs_t

,partition,layer_num,neurona_num,activation,alpha,training_time
0,10,1,30,logistic,0.0001,"[23.15649223327637, 24.438762664794922, 20.000..."
1,10,1,30,logistic,1.0000,"[21.88026475906372, 26.487568378448486, 20.667..."
2,10,1,30,logistic,10000.0000,"[6.253906726837157, 8.277261734008789, 6.27513..."
3,10,1,30,tanh,0.0001,"[22.267031908035282, 22.62187886238098, 17.399..."
4,10,1,30,tanh,1.0000,"[22.207077026367188, 22.73449540138245, 17.455..."
5,10,1,30,tanh,10000.0000,"[22.86952304840088, 23.37695956230164, 22.5856..."
6,10,1,90,logistic,0.0001,"[29.925067901611328, 32.30967140197754, 37.753..."
7,10,1,90,logistic,1.0000,"[26.5259268283844, 30.80880570411682, 21.22847..."
8,10,1,90,logistic,10000.0000,"[42.44521927833557, 16.72055459022522, 16.8898..."
9,10,1,90,tanh,0.0001,"[45.3847599029541, 34.61158514022827, 45.01342..."
...,...,...,...,...,...,...
854,90,10,150,logistic,10000.0000,"[85.87025117874146, 76.72930955886841, 107.071..."
855,90,10,150,tanh,0.0001,"[647.2018735408782, 682.4211142063141, 665.687..."
856,90,10,150,tanh,1.0000,"[734.6694219112396, 658.8654758930206, 542.421..."
857,90,10,150,tanh,10000.0000,"[40.34194445610047, 29.110209465026852, 31.055..."
858,90,10,210,logistic,0.0001,"[30.91325426101685, 25.591519832611084, 25.537..."
859,90,10,210,logistic,1.0000,"[25.592979192733765, 25.5862729549408, 25.6093..."
860,90,10,210,logistic,10000.0000,"[117.59011888504028, 212.06803393363955, 107.1..."
861,90,10,210,tanh,0.0001,"[651.8294990062714, 721.0864088535309, 605.592..."
862,90,10,210,tanh,1.0000,"[661.0476253032683, 602.6592633724213, 581.312..."
863,90,10,210,tanh,10000.0000,"[70.90114426612855, 57.5786988735199, 67.21055..."

Se hace lo mismo para `training_time` y `test_accuracy`

In [380]:
datos_lbfgs_ta=datos_lbfgs.groupby(['partition','layer_num','neurona_num','activation','alpha']).train_accuracy.unique()
datos_lbfgs_tt=datos_lbfgs.groupby(['partition','layer_num','neurona_num','activation','alpha']).test_accuracy.unique()
datos_lbfgs_tt=datos_lbfgs_tt.reset_index()
datos_lbfgs_ta=datos_lbfgs_ta.reset_index()

Una vez que se tienen agrupadas las variables de rendimiento por combinación de factores se unen en un solo cuadro de datos.

In [381]:
datos_lbfgs_t['train_accuracy']=datos_lbfgs_ta.train_accuracy
datos_lbfgs_t['test_accuracy']=datos_lbfgs_tt.test_accuracy
datos_lbfgs_t

,partition,layer_num,neurona_num,activation,alpha,training_time,train_accuracy,test_accuracy
0,10,1,30,logistic,0.0001,"[23.15649223327637, 24.438762664794922, 20.000...","[0.9278333333333332, 0.8973333333333333, 0.946...","[0.8789, 0.8536, 0.8941, 0.8863, 0.8487, 0.883..."
1,10,1,30,logistic,1.0000,"[21.88026475906372, 26.487568378448486, 20.667...","[0.9501666666666668, 0.9381666666666668, 0.939...","[0.8949, 0.8889, 0.8886, 0.8969, 0.8943, 0.89,..."
2,10,1,30,logistic,10000.0000,"[6.253906726837157, 8.277261734008789, 6.27513...","[0.802, 0.8371666666666666, 0.7961666666666667...","[0.8065, 0.826, 0.7957, 0.8123, 0.8238, 0.7471..."
3,10,1,30,tanh,0.0001,"[22.267031908035282, 22.62187886238098, 17.399...","[0.9263333333333332, 0.9081666666666668, 0.925...","[0.8854, 0.8706, 0.8778, 0.8876, 0.8799, 0.878..."
4,10,1,30,tanh,1.0000,"[22.207077026367188, 22.73449540138245, 17.455...","[0.91, 0.9313333333333332, 0.9356666666666666,...","[0.8725, 0.8844, 0.8905, 0.8834, 0.8837, 0.885..."
5,10,1,30,tanh,10000.0000,"[22.86952304840088, 23.37695956230164, 22.5856...","[0.9093333333333332, 0.9175, 0.926166666666666...","[0.8672, 0.8744, 0.878, 0.8705, 0.8532, 0.8589..."
6,10,1,90,logistic,0.0001,"[29.925067901611328, 32.30967140197754, 37.753...","[0.9915, 0.9898333333333332, 0.9945, 0.995, 0....","[0.9227, 0.9111, 0.92, 0.9163, 0.9149, 0.9136,..."
7,10,1,90,logistic,1.0000,"[26.5259268283844, 30.80880570411682, 21.22847...","[0.9918333333333332, 0.9925, 0.989833333333333...","[0.9287, 0.9269, 0.9274, 0.9258, 0.9251, 0.921..."
8,10,1,90,logistic,10000.0000,"[42.44521927833557, 16.72055459022522, 16.8898...","[0.8546666666666667, 0.868, 0.873, 0.877666666...","[0.8459, 0.8601, 0.8671, 0.8589, 0.8465, 0.864..."
9,10,1,90,tanh,0.0001,"[45.3847599029541, 34.61158514022827, 45.01342...","[0.9933333333333332, 0.987, 0.9888333333333332...","[0.9066, 0.9064, 0.9076, 0.9156, 0.9094, 0.911..."
...,...,...,...,...,...,...,...,...
854,90,10,150,logistic,10000.0000,"[85.87025117874146, 76.72930955886841, 107.071...",[0.1],"[0.10099999999999999, 0.1135, 0.1028, 0.0892, ..."
855,90,10,150,tanh,0.0001,"[647.2018735408782, 682.4211142063141, 665.687...","[0.9995925925925926, 0.9997407407407408, 0.999...","[0.9519, 0.9548, 0.9536, 0.9535, 0.953, 0.9561..."
856,90,10,150,tanh,1.0000,"[734.6694219112396, 658.8654758930206, 542.421...","[0.9996481481481482, 0.9995, 0.999166666666666...","[0.9531, 0.9569, 0.9522, 0.9535, 0.9523, 0.952..."
857,90,10,150,tanh,10000.0000,"[40.34194445610047, 29.110209465026852, 31.055...",[0.1],"[0.0892, 0.1032, 0.098, 0.0958, 0.1028, 0.1135..."
858,90,10,210,logistic,0.0001,"[30.91325426101685, 25.591519832611084, 25.537...",[0.1],"[0.098, 0.1135, 0.0982, 0.1028, 0.1032, 0.0958]"
859,90,10,210,logistic,1.0000,"[25.592979192733765, 25.5862729549408, 25.6093...",[0.1],"[0.0982, 0.1032, 0.0892, 0.098, 0.1009, 0.1009..."
860,90,10,210,logistic,10000.0000,"[117.59011888504028, 212.06803393363955, 107.1...",[0.1],"[0.1009, 0.1032, 0.0974, 0.0892, 0.10099999999..."
861,90,10,210,tanh,0.0001,"[651.8294990062714, 721.0864088535309, 605.592...","[0.9994074074074074, 0.9997592592592592, 0.999...","[0.9533, 0.9577, 0.9556, 0.9531, 0.9568, 0.956..."
862,90,10,210,tanh,1.0000,"[661.0476253032683, 602.6592633724213, 581.312...","[0.9997962962962964, 0.9995185185185184, 0.999...","[0.9563, 0.9576, 0.9555, 0.9557, 0.956, 0.9574..."
863,90,10,210,tanh,10000.0000,"[70.90114426612855, 57.5786988735199, 67.21055...",[0.1],"[0.1135, 0.0892, 0.0982, 0.1032, 0.1028, 0.098]"

## Guardar cuadro de datos
Para finalizar se guarda el cuadro de datos en un archivo`.csv` y se repite lo anterior para los cuadros de datos de los solucionarios `sgd` y `Adam`.

In [397]:
datos_lbfgs_t.to_csv("lbfgs.csv")